/*******************
       GENERAL
********************/

html, body {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
    color: #ffa500;
}

a h2 {
    color: #ffa500;
}

a h2:hover {
    color: #ffa500;
    text-decoration: underline;
    text-decoration-color: #ffa500;
}

h2 a {
    color: #ffa500;
}

h2 a:hover {
    color: #ffa500;
    text-decoration: underline;
    text-decoration-color: #ffa500;
}

.boxboxplease {
	display: block;
}

.btns {
    margin-bottom: 5px;
    height: 50px;
    border-color: #ffa500;
    background-color: #ffa500;
    color: Black;
    box-shadow: 0;
    border-radius: 5px;
    width: 100%;
    font-size: 2rem;
}

/***************
**Overwatch
****************/

.heroes {
    display: inline-block;
    width: 6%;
    height: 6%;
}

.heroes img {
    display: inline-block;
    width: 50%;
    height: 50%;
}


.playerHero:nth-child(3) {
    background-color: blue;
}

.playerHero:nth-child(4) {
    background-color: red;
}

.playerHero:nth-child(5) {
    background-color: green;
}

.playerHero:nth-child(6) {
    background-color: yellow;
}

.playerHero:nth-child(7) {
    background-color: purple;
}

.playerHero:nth-child(8) {
    background-color: orange;
    color: white;
}



.playerHero1 {
    background-color: blue;
    color: white;
}

.playerHero2 {
    background-color: red;
    color: white;
}

.playerHero3 {
    background-color: green;
    color: white;
}

.playerHero4 {
    background-color: yellow;
    color: black;
}

.playerHero5 {
    background-color: purple;
    color: white;
}

.playerHero6 {
    background-color: orange;
    color: white;
}
